.custom-view-description {
  margin-bottom: 32px;
  margin-top: 32px;
}

.nav-group__label {
  font-size: 16px;
}

.join#field-pistol_group__tactical_kits_relation .relationship-table__actions {
  display: none;

  .table--appearance-condensed td,
  .table--appearance-condensed th {
    padding-left: 20px;
    padding-right: 20px;
  }
}
