@import "tailwindcss";

@theme {
  --breakpoint-xl: 1921px;
  --breakpoint-xls: 1701px;
  --breakpoint-md: 1025px;
  --breakpoint-sm: 431px;

  --color-main-black: #0a0a09;
  --color-main-white: #ebeae8;
  --color-main-white-light: #a8a3a0;
  --color-main-white-active: #bfbcb7;
  --color-main-gray: #7b7a78;
  --color-main-gray-light: #9e9d98;
  --color-main-border: #403e3c;
  --color-hood-black: #1d1c1a;
  --color-main-destructive: #1e1a17;
  --color-main-destructive-bg: #cabfb0;

  --font-stalker: "var(--font-stalker)";
  --font-calibri: "var(--font-calibri)";
  --font-roboto_condensed: "var(--font-roboto_condensed)";
  --font-roboto: "var(--font-roboto)";
  --font-rethink_sans: "var(--font-rethink_sans)";
}

html {
  scroll-behavior: smooth;
  font-size: calc(100vw / 1920 * 10);
}

* {
  box-sizing: border-box;
}

.bg-custom-gradient {
  background: linear-gradient(
    to top,
    #898883,
    #bfbfba,
    #c9c2b2,
    #bfbfba,
    #898883
  );
}

.bg-custom-gradient_second {
  background: linear-gradient(to top, #837f7c, #c9c2b2, #c9c2b2, #837f7c);
}

.clip_startBtn {
  clip-path: polygon(10% 0%, 100% 0%, 90% 100%, 0% 100%);
}
